version: "3.8"
services:
  app:
    build: .
    command: ./startup.sh
    volumes:
      - .:/www
    ports:
      - "9900:8000"
    environment:
      #      BASE_URL: "http://0.0.0.0:8000/api/v1/"
      SCOUT_DRIVER: Matchish\ScoutElasticSearch\Engines\ElasticSearchEngine
      ELASTICSEARCH_SSL: true
      ELASTICSEARCH_API_KEY: NG54cVhJOEIwZElLTlliM2NQZ0M6UXVzRFg3UURTUk9rdzY2M2xpNUpmUQ==
      ELASTICSEARCH_CLOUD_ID: CRM-DEV-ElasticSearch:d2VzdGV1cm9wZS5henVyZS5lbGFzdGljLWNsb3VkLmNvbSQzOGU2YzAyYzUzYjg0N2YzYjAyMDc3ODJjNGQxYzNiYyQ2M2Y4ZmRhNDdmMjQ0ZWI5ODUxYjY1MDZmYmQ2ZGZhOQ==
      DB_HOST: crm00dbdevtest.mysql.database.azure.com
      DB_PORT: 3306
      DB_DATABASE: crm_dev
      DB_USERNAME: ai_service_dev
      DB_PASSWORD: FI753AsefIQi


  test:
    build: .
    command: [ "sh", "-c", "sleep 10 && pytest --disable-warnings" ]
    volumes:
      - .:/www
    depends_on:
      - app
    environment:
      BASE_URL: "http://app:9900/api/v1/"
      RUN_TESTS: "true"

